.hero {
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  background-image: url(../../images/hero-background.mobile.png);
  background-repeat: no-repeat;
  min-height: 920px;

  &__header {
    margin-top: 78px;
  }

  &__subtitle {
    font-size: 18px;
  }

  &__title {
    padding-top: 15px;
    font-size: 35px;
  }

  &__img {
    margin-top: 160px;
    background-image: url(../../images/hero.mobile.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 346px;
  }
}

.logo {
  background-image: url(../../images/logo.mobile.png);
  background-repeat: no-repeat;
  width: 300px;
  height: 50px;
}
