.about-us {
  width: 360px;
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: transparent;

  &__subtitle {
    color: #3888f9;
    font-size: 17px;
  }

  &__title {
    padding-top: 7px;
    font-size: 28px;
  }

  &__text {
    padding-top: 25px;
    text-align: justify;
  }

  &__img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .about-us {
    width: 768px;
    padding-left: 375px;
    padding-right: 50px;
    background-image: url(../../images/about-us.tablet.png);
    background-repeat: no-repeat;
    background-position: 0px 50px;
  }
}

@media screen and (min-width: 1250px) {
  .about-us {
    width: 1250px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 750px;
    padding-right: 150px;
    background-image: url(../../images/about-us.desktop.png);
    background-repeat: no-repeat;
    background-position: 0px 20px;

    &__subtitle {
      margin-top: 50px;
    }
  }
}
