* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 360px;
  margin: 0 auto;
  background-color: #222;
  color: black;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1250px) {
  .container {
    width: 1250px;
  }
}
