* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

li:last-child {
  padding-bottom: 5px;
}

.container {
  width: 360px;
  margin: 0 auto;
  color: black;
  font-family: "Merriweather", serif;
  font-weight: 300;
  background-color: transparent;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1250px) {
  .container {
    width: 1250px;
  }
  .wrapper {
    padding-left: 150px;
    padding-right: 150px;
  }
}
